@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* dramatis personae */
[epub|type~="z3998:dramatis-personae"]{
        text-align: center;
}

[epub|type~="z3998:dramatis-personae"] ul{
        list-style: none;
        margin: 0;
        padding: 0;
}

[epub|type~="z3998:dramatis-personae"] > ul > li{
        font-variant: small-caps;
        margin-top: 2em;
}

[epub|type~="z3998:dramatis-personae"] ul > li > ul > li{
        font-style: italic;
        font-variant: normal;
        margin: 1em;
}
/* end of dramatis personae */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
	text-align: initial;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* end of poem/verse/song */
