@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

q{
	font-style: italic;
}

/* Remove italics from italicized words nested in italicized thought... */
q i,
q em{
	font-style: normal;
}

/* Unless the italicized thought contains no other words, in which case we keep italics */
q.single-word i{
	font-style: italic;
}

/* dramatis personae */
[epub|type~="z3998:dramatis-personae"]{
	text-align: center;
}

[epub|type~="z3998:dramatis-personae"] p{
	text-indent: 0;
}

[epub|type~="z3998:dramatis-personae"] ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

[epub|type~="z3998:dramatis-personae"] ul li{
	font-style: italic;
	margin: 1em;
}
/* end of standard dramatis personae */

[epub|type~="z3998:dramatis-personae"] ul li i{
	font-style: normal;
}

[epub|type~="z3998:dramatis-personae"] > p{
	font-variant: small-caps;
	margin-bottom: 2em;
}

[epub|type~="z3998:dramatis-personae"] .group,
[epub|type~="z3998:dramatis-personae"] .group + li{
	margin-top: 2em;
}

[epub|type~="z3998:dramatis-personae"] .group > p{
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="z3998:dramatis-personae"] .group  li{
	margin: .5em;
}
/* end of custom dramatis personae */

/* letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* end of letters */

/* poem/verse/song */
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
/* end of poem/verse/song */
